@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(126, 126, 240);
  --foreground: rgb(126, 126, 240);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(126, 126, 240);
    --foreground: rgb(126, 126, 240);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.filter-color-image{
  filter: brightness(0) saturate(100%) invert(90%) sepia(29%) saturate(1364%) hue-rotate(353deg) brightness(108%) contrast(95%);
}